*{
    margin: 0px;
}

body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    position: relative;
}
.start-menu-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 32px;
    font-family: Karla;
    font-weight: bold;
    line-height: auto;
    color: #293264;
    margin-bottom: 10px;
}

.desc{
    font-size: 16px;
    font-family: Karla;
    line-height: auto;
    color: #293264;
    margin-bottom: 30px;
}

.start-button{
    width: 12vw;
    height: 7.5vh;
    border-radius: 15px;
    background-color: #4D5B9E;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;
}

.start-button:hover{
    background-color: #3c467b;
}

.start-button:active{
    background-color: #2b3359;
}

input[type="radio"] {
    display: none;
}

.question-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question{
    font-family: Karla;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #293264;
    margin-top: 5px;
}

.question-line{
    border-color: #DBDEF0;
}

.answer-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.answer-label-container {
    display: flex;
    align-items: center;
}

.answer-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vw;
    height: 2vw;
    border: 2px solid #4D5B9E;
    border-radius: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12.24px;
    text-align: center;
    color: #293264;
    cursor: pointer;
}

.selected{
    background-color: #D6DBF5;
    border: none;
}

.check-answers-button{
    position: absolute;
    width: 12vw;
    height: 7.5vh;
    border-radius: 15px;
    background-color: #4D5B9E;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;
    bottom: 12vh;
    left: 44vw;
    cursor: pointer;

}

.check-answers-button:hover{
    background-color: #3c467b;
}

.check-answers-button:active{
    background-color: #2b3359;
}

.correct{
    background-color: #94D7A2;
    border: none;
}

.incorrect{
    background-color: #F8BCBC;
    border: none;
}

.play-again-button{
    width: 12vw;
    height: 7.5vh;
    border-radius: 15px;
    background-color: #4D5B9E;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: white;
    cursor: pointer;
}

.score-text{
    font-family: Karla;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    color: #293264;
    margin-top: 5px;
}

.play-again-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}